
StoreBoardTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata

StoreBoardTest.xcodeproj/project.xcworkspace/xcuserdata/handy.xcuserdatad/UserInterfaceState.xcuserstate

StoreBoardTest.xcodeproj/xcuserdata/handy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

StoreBoardTest.xcodeproj/xcuserdata/handy.xcuserdatad/xcschemes/StoreBoardTest.xcscheme

StoreBoardTest.xcodeproj/xcuserdata/handy.xcuserdatad/xcschemes/xcschememanagement.plist

StoreBoardTest.xcodeproj/project.xcworkspace/xcshareddata/StoreBoardTest.xccheckout
